# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY=""

# APP_URL: The URL where this applet is hosted.
APP_URL=""

# INFERENCE_API_URL: Endpoint for Remote ML inference for Building Detection
INFERENCE_API_URL=""

# INFERENCE_API_KEY: Secret for Remote ML Inference API
INFERENCE_API_KEY=""
